/* Home Component */
.hero-section{
    width: 100%;
    height: 90vh;
    display: flex;
}

.hero-right{
    height: 100%;
}

.hero-left{
    width: 60%;
    height: 100%;
    padding: 300px 0 0 0;
}

.hero-left-text{
    opacity: 0;
    transform: translateY(100px);
}

.hero-headline{
    margin-bottom: 25px;
    width: 100%;
}

.hero-body{
    width: 100%x;
    margin-bottom: 25px;
}

.hero-btn-div{
    opacity: 0;
    transform: translateY(100px);
}

.scroll-indicator{
    width: 15px;
    padding-top: 20%;
    padding-bottom: 10px;
	position: relative;
	opacity: 0.5;
    opacity: 0;
    transform: translateY(100px);
}

.scroll-indicator::before,
.scroll-indicator::after{
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.scroll-indicator::before{
    width: 12px;
    height: 12px;
    border-radius: 10px;
    border: 1px solid #05C878;
    animation: dot 3s infinite ease-in-out;
}

.scroll-indicator::after{
    width: 7px;
    height: 7px;
    border-right: 1px solid #05C878;
    border-bottom: 1px solid #05C878;
    transform: rotate(45deg);
    animation: arrow 3s infinite ease-in-out;
    animation-delay: 0.75s;
    opacity: 0.25;
}

.scroll-indicator > div{
    display: block;
}

.scroll-indicator > div::before,
.scroll-indicator > div::after{
    content: "";
    display: block;
    margin: 5px auto;
    border-radius: 10px;
    border: 1px solid #05C878;
    animation: dot 3s infinite ease-in-out;
}

.scroll-indicator > div::before{
    width: 8px;
    height: 8px;
    animation-delay: 0.25s;
}

.scroll-indicator > div::after{
    width: 6px;
    height: 6px;
    animation-delay: 0.5s;
}

@keyframes dot {
	0% {
		transform: scale(0.75);
		opacity: 0.25;
	}
	25% {
		transform: scale(1);
		opacity: 1;
	}
	100% {
		transform: scale(0.75);
		opacity: 0.25;
	}
}

@keyframes arrow {
	0% {
		transform: scale(0.75) rotate(45deg);
		opacity: 0.25;
	}
	25% {
		transform: scale(1) rotate(45deg);
		opacity: 1;
	}
	100% {
		transform: scale(0.75) rotate(45deg);
		opacity: 0.25;
	}
}

marquee{
    width: 100% !important;
}

.marquee-content{
    width: fit-content;
    height: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.diamond{
    width: .5rem;
    height: .5rem;
    background: var(--emerald);
    border-radius: 2px;
    transform: rotate(45deg);
}

.slider-content p{
    width: 100%;
    font-family: var(--secondary-font);
    font-size: 1.5rem;
    margin: 0 50px;
}

.random-blurb{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 25% 0;
}

.blurb{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 100px;
    padding-bottom: 100px;
}

.blurb-left,
.blurb-right{
    width: 50%;
}

.blurb-left-text{
    width: 80%;
}

.blurb-right-text{
    width: 65%;
    float: right;
}

.blurb-right-text p{
    margin-bottom: 25px;
}

.image-container{
    width: 100%;
    display: flex;
    gap: 25px;
    padding: 0 0 200px 0;
}


/* Industries Section */
.industries-section{
    margin-bottom: 200px;
}

.industries-section-top{
    margin-bottom: 100px;
}

.industries-section-top h2{
    margin-bottom: 15px;
}

.industries-section-top p{
    width: 80%;
}

.industries-section-bottom{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
}

.industry-card{
    width: 100%;
    height: 500px;
    margin: auto;
    position: relative;
    transition: transform 4s ease-in;
    overflow: hidden;
    clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
}

.industry-card img{
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in;
}

.industry-card img:hover{
    transform: scale(1.2);
}

.industry-card:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    /* content: "Food & Beverage"; */
    transform:translateY(-100%);
    font-size: 25px;
    color:#fff;
   display: block;
    background-color: rgba(14, 14, 14, 0.25);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
   font-family: sans-serif;
    transition: transform .4s ease-in;
    justify-content: center;
    box-sizing: border-box;
}

.foodbev:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    content: "Food & Beverage";
    transform:translateY(-100%);
    font-size: 25px;
    color:#fff;
   display: block;
    background-color: rgba(14, 14, 14, 0.25);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
   font-family: sans-serif;
    transition: transform .4s ease-in;
    justify-content: center;
    box-sizing: border-box;
}

.nonprofit:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    content: "Non-Profit";
    transform:translateY(-100%);
    font-size: 25px;
    color:#fff;
   display: block;
    background-color: rgba(14, 14, 14, 0.25);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
   font-family: sans-serif;
    transition: transform .4s ease-in;
    justify-content: center;
    box-sizing: border-box;
}

.cannabis:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    content: "Cannabis";
    transform:translateY(-100%);
    font-size: 25px;
    color:#fff;
   display: block;
    background-color: rgba(14, 14, 14, 0.25);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
   font-family: sans-serif;
    transition: transform .4s ease-in;
    justify-content: center;
    box-sizing: border-box;
}

.tech:before {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left:0;
    content: "Technology";
    transform:translateY(-100%);
    font-size: 25px;
    color:#fff;
   display: block;
    background-color: rgba(14, 14, 14, 0.25);
    z-index: 1;
    display:flex;
    justify-content: center;
    align-items: center;
   font-family: sans-serif;
    transition: transform .4s ease-in;
    justify-content: center;
    box-sizing: border-box;
}

 .industry-card:hover::before{
 transform: translateY(0%); 
}

.industry-card:hover::after{
    transform: translateY(0%); 
}

/* Services Section */
.service-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.services-section .services-blurb{
    margin-bottom: 0;
    padding-bottom: 15rem;
}

.blurb-right-text{
    overflow: hidden;
}

.service{
    overflow: hidden;
}

.services-info{
    align-self: flex-end;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
}

.service-title{
    color: var(--sapphire);
}

.service-headline{
    margin-bottom: 15px;
    font-weight: bold;
}

.service-body{
    font-weight: 300;
    margin-bottom: 25px;
}

.closing-cta{
    height: 100%;
    padding: 300px 0 250px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.closing-cta h1{
    margin-bottom: 35px;
}

/* Media Queries */
/* Home Component */
@media(max-width: 1500px){
    .hero-left{
        padding-top: 125px;
    }
}

@media(max-width:1024px){
    .services-section .services-blurb{
        padding-bottom: 4.5rem;
    }
    .services-info{
        grid-template-columns: repeat(1, 1fr);
    }

    .industries-section-top .blurb-left{
        width: 100%;
    }

    .industries-section-bottom{
        grid-template-columns: repeat(1, 1fr);
    }

    .image2{
        display: none;
    }
}

@media(max-width: 768px){
    .hero-section{
        flex-direction: column-reverse;
        height: 100%;
        margin-bottom: 50px;
    }

    .hero-left,
    .hero-right{
        width: 100%;
    }

    .scroll-indicator{
        padding-top: 100px;
    }

    marquee{
        padding-top: 150px;
    }

    .blurb{
        flex-direction: column;
    }

    .blurb-left,
    .blurb-right,
    .blurb-left-text,
    .blurb-right-text{
        width: 100%;
        float: none;
    }

    .blurb-left{
        margin-bottom: 15px;
    }
}

@media(max-width: 500px){
    .hero-section{
        margin: 250px 0 100px 0;
        height: 100%;
    }

    .hero-left{
        padding: 0;
        height: 100%
    }

    .hero-right{
        display: none;
    }

    .scroll-indicator{
        padding-top: 150px;
    }

    marquee{
        padding: 0;
    }

    .image-container{
        padding: 0 0 100px 0;
        width: 80%;
        margin: auto;
    }

    .the-brand-blurb,
    .what-we-do{
        margin-bottom: 0;
    }

    .blurb{
        padding: 0;
    }

    .industry-card{
        height: 250px;
    }

    .random-blurb,
    .closing-cta{
        text-align: left;
    }

    .closing-cta{
        align-items: flex-start;
        padding: 150px 0;
    }
}