/* Global Styling */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Ibarra+Real+Nova:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
  --primary-font: 'Cormorant Garamond', 'serif';
  --secondary-font: 'Work Sans', 'sans-serif';
  --sapphire: #0F52BA;
  --emerald: #05C878;
  --bg-color: #0E0E0E;
  --text-color: #F8F8FF;
}

*{
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  color: var(--text-color);
}

.app{
  color: var(--text-color);
  background-color: var(--bg-color);
}

::-webkit-scrollbar{
  width: 0;
}

.container{
  width: 80%;
  margin: auto;
}

h1{
  font-family: var(--primary-font);
  font-size: 3rem;
  font-weight: 300;
}

h2{
  font-family: var(--primary-font);
  font-size: 2.5rem;
  font-weight: 300;
}

h3{
  font-family: var(--primary-font);
  font-size: 2rem;
  font-weight: 300;
}

h4{
  font-family: var(--primary-font);
  font-size: 1.5rem;
  font-weight: 300;
}

h5{
  font-family: var(--secondary-font);
  font-weight: 300;
  font-size: 1rem;
  margin-bottom: 5px;
  color: var(--text-color);
}

a{
  text-decoration: none;
  cursor: pointer;
}

li{
  list-style: none;
  background: none;
}

.artistic{
  font-size: 3.5rem;
}

.artistic-emphasize{
  font-size: 5rem;
  font-weight: 600;
  /* font-style: italic; */
  color: var(--sapphire);
  font-family: var(--primary-font);
}

.emphasize{
  font-family: var(--primary-font);
  font-size: 4rem;
  font-weight: 600;
  /* font-style: italic; */
  color: var(--sapphire);
}

.nav-link{
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 400;
}

.btn{
  font-family: var(--secondary-font);
  font-size: 1.125rem;
}

.body-lg{
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 300;
}

.body-reg{
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 300;
}

.body-sm{
  font-family: var(--secondary-font);
  font-size: 1rem;
  font-weight: 100;
}

.consult-btn{
  display: flex;
  align-items: center;
}

.btn-droplet{
  padding-right: 5px;
  z-index: 0;
  width: 41px;
  height: 24px;
}

.consult-btn h4{
  font-family: var(--secondary-font);
  font-size: 1.25rem;
  font-weight: 400;
}

@media(max-width: 768px){
  h1{
    font-family: var(--primary-font);
    font-size: 3rem;
    font-weight: 300;
  }
  
  h2{
    font-family: var(--primary-font);
    font-size: 2rem;
    font-weight: 300;
  }
  
  h3{
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  h4{
    font-family: var(--primary-font);
    font-size: 1.5rem;
    font-weight: 300;
  }
  
  h5{
    font-family: var(--secondary-font);
    font-weight: 300;
    font-size: 1rem;
    margin-bottom: 5px;
  }

  .artistic{
    font-size: 3.5rem;
  }
  
  .artistic-emphasize{
    font-size: 3.5rem;
    font-weight: 600;
    /* font-style: italic; */
    color: var(--sapphire);
    font-family: var(--primary-font);
  }

  .emphasize{
    font-family: var(--primary-font);
    font-size: 3.5rem;
    font-weight: 600;
    /* font-style: italic; */
    color: var(--sapphire);
  }
  
  .nav-link{
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 400;
  }
  
  .btn{
    font-family: var(--secondary-font);
    font-size: 1rem;
  }
  
  .body-lg{
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 300;
  }
  
  .body-reg{
    font-family: var(--secondary-font);
    font-size: 1rem;
  }
  
  .body-sm{
    font-family: var(--secondary-font);
    font-size: 1rem;
    font-weight: 100;
  }
}

@media(max-width: 500px){
  h1{
    font-size: 2.5rem;
  }

  .nav-link{
    font-size: 2rem;
  }

  .emphasize{
    font-size: 3rem;
  }

  .artistic{
    font-size: 3rem;
  }
  
  .artistic-emphasize{
    font-size: 3rem;
    font-weight: 600;
    /* font-style: italic; */
    color: var(--sapphire);
    font-family: var(--primary-font);
  }
}